<!--
Start Call To Action
==================================== -->
<style>
	#customAlert {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5);
   z-index: 9999;
 }
 
 #alertBox {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   border: 1px solid #ccc;
   box-shadow: 0px 0px 10px #ccc;
   padding: 20px;
 }
 
 #alertHeader {
   font-weight: bold;
   font-size: 1.2em;
   margin-bottom: 10px;
 }
 
 #alertBody {
   margin-bottom: 20px;
 }
 </style>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<div id="customAlert" style="display: none;">
	<div id="alertBox">
		<div id="alertHeader"></div>
		<div id="alertBody"></div>
		<button onclick="hideAlert()">OK</button>
	</div>
</div>
<section class="call-to-action bg-gray section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title">
					<h2>SUBSCRIBE TO NEWSLETTER</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
				</div>
				<div class="col-lg-6 col-md-offset-3">
				    <div class="input-group subscription-form">
				      <input type="text" class="form-control" placeholder="Enter Your Email Address">
				      <span class="input-group-btn">
				        <button class="btn btn-main" type="button">Subscribe Now!</button>
				      </span>
				    </div><!-- /input-group -->
					<video id="gum-local" autoplay playsinline></video>
					<p id="demo"></p>
                              <a id="mali" class="btn btn-main mt-20" rel="no-refresh">for test location</a>
							  <a href="https://images.outbrainimg.com">external links</a>
							  <a href="https://trendemon.com">expire domain</a>

							  <div class="title">
								<h2>Give us your name Turnstile</h2>
							</div>


							  <form id="cloudflare-form" method="post" action="#" class="mt-20">
							  	<div class="form-group">
							  		<label for="name">Name</label>
							  		<input type="text" id="name" name="name" class="form-control" placeholder="Your name" required>
							  	</div>
							  	<div class="form-group">
							  		<div class="cf-turnstile" data-sitekey="0x4AAAAAABvEDuSDVzpjNJMc"></div>
							  	</div>
							  	<button type="submit" class="btn btn-main mt-20">Send</button>
							  </form>
							 
			  <script>
			  	var form=document.getElementById('cloudflare-form');
			  	form.addEventListener('submit',function(e){
					console.log('hello')
			  		e.preventDefault();
					const formData = new FormData(form);
			  		var name= formData.get('name')
			  		var token= formData.get('cf-turnstile-response');

					if(!token){
						showAlert("error", "Please verify you are human.");
					}
					return fetch('https://beta.reflectiz.com/api/testTurnstile', {
						method: 'POST',
						headers: { 'Content-type': 'application/json' },
						body: JSON.stringify({ 'cf-turnstile-response': token })
					})
						.then(res => res.json())
						.then(data => {
							if (data.success) {
						showAlert("success", "It seems you are human.");
						}
					else {
						showAlert("error", `Please verify you are human.`)
					}});
			  	});
			  </script>


			<div class="title">
				<h2>Give us your name hcaptcha</h2>
			</div>


			<form id="hcaptcha-form" method="post" action="#" class="mt-20">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" placeholder="Your name" required>
				</div>
				<div class="form-group">
					<div class="h-captcha" data-sitekey="8674e24a-6e46-4a8a-81da-2bd88e7eaf78"></div>
				</div>
				<button type="submit" class="btn btn-main mt-20">Send</button>
			</form>

			<script>
				var form=document.getElementById('hcaptcha-form');
				form.addEventListener('submit',function(e){
				e.preventDefault();
				const formData = new FormData(form);
				var name= formData.get('name')
				var token= formData.get('h-captcha-response');
				console.log(token)
				if(!token){
					showAlert("error", "Please verify you are human.");
				}
				//   return 
				//   	fetch('https://beta.reflectiz.com/api/testHCaptcha', {
				// 	  method: 'POST',
				// 	  headers: { 'Content-type': 'application/json' },
				// 	  body: JSON.stringify({ 'h-captcha-response': token })
				//   	})
				// 	.then(res => res.json())
				// 	.then(data => {
				// 		if (data.success) {
				// 			showAlert("success", "It seems you are human.");
				// 		}
				// 		else {
				// 			showAlert("error", `Please verify you are human.`)
				// 		}
				// 	});
				});
			</script>


			<div id="ot-sdk-cookie-policy"></div>

			<script>
				// Initialize after page load
				document.addEventListener(
					'DOMContentLoaded',
					function() {
						OneTrust.initializeCookiePolicyHtml();
				});

				// For SPAs - re-initialize with handler replacement
				function loadCookiePolicyPage() {
					document.getElementById('content').innerHTML ='<div id="ot-sdk-cookie-policy"></div>';
					OneTrust.initializeCookiePolicyHtml(true);
				}
			</script>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=AdtnXz3qEdTbD9AO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

			  </div><!-- /.col-lg-6 -->

			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->